* {
  font-family: "Inter", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1.5px solid #c2c8d0;
  border-radius: 0.375rem;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  padding: 0.75rem 1rem;
  background: none;
  transition: color 200ms ease-in;
  color: #000;
}
.form__input:focus {
  border-color: #2363de;
}
.form__label {
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  padding: 0 0.25rem;
  color: #6f7780;
  font-weight: 400;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
  background-color: #fff;
}
.form__input:focus ~ .form__label {
  color: #2363de;
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.6rem;
  font-size: 0.8rem;
  left: 0.6rem;
}
#dropdown,
#dropdown1,
#dropdown2,
#dropdown3 {
  color: #6f7780;
}
